.login-box{
    margin-top: 10%;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
m-0{
    margin : 0 !important;
}
.cursor-pointer{
    cursor: pointer
}
.alert-abs{
    position: absolute;
    right: 0;
    top: 20%;
}
.list-style-none{
    list-style-type: none;
}
.abs-right{
    position: absolute;
    right: 10px;
}
.mw-300{
    min-width: 300px;
}
.background-disabled{
    background-color: #ddd;
}